<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>
    <title>Agriculture</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container col-md-6 my-5">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Detail Product</div>
            <div class="card-body text-info">
                <h5 class="card-title">ID Product: [[${Product.idProduct}]]</h5>
                <p class="card-text">[[${Product.productName}]]</p>
                <p class="card-text">Rp. [[${#numbers.formatDecimal(Product.productPrice, 0, 'COMMA', 2, 'POINT')}]]</p>
                <p class="card-text">[[${Product.stockProduct}]]</p>
                <a href="/agriculture/webProduct/viewProduct" class="btn btn-outline-primary">Go Back</a>
                <a th:href="@{|updateProduct/${Product.idProductEncrypt}|}" class="btn btn-outline-warning">Edit</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>