<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout.html}">
<head>


    <title>Agriculture</title>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container my-5">
        <div class = "justify-content-start my-2 mb-2">
            <h2 class="p-3 mb-2 text-center">List Product</h2>
        </div>
            <a class="btn btn-outline-success" href="/agriculture/webProduct/addProduct">Add Product</a>
            <a class="btn btn-outline-secondary" href="/agriculture/webProduct/firstPageProduct">Back</a>
        <div class="container my-2">
            <table class="table table-hover" id="table-list">
                <thead>
                <tr>
                    <th scope="col">ID Product</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">View</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="view : ${Products}">
                    <th th:text="${view.idProduct}" scope="row">1</th>
                    <td th:text="${view.productName}"></td>
                    <td th:inline="text">Rp. [[${#numbers.formatDecimal(view.productPrice, 0, 'COMMA', 2, 'POINT')}]]</td>
                    <td th:text="${view.stockProduct}"></td>
                    <td><a class="btn btn-outline-primary" th:href="@{|viewProduct/${view.idProductEncrypt}|}">View</a></td>
                    <td>
                        <button class="btn btn-outline-danger" href="">
                            <a th:onclick="'confirmDelete(' + ${view.idProduct} + ');'" >Delete</a>
                        </button>
                    </td>
                </tr>
                <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete this Product?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                                <a id="delete">
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>